/*Playlist Section Styles*/

#playlist-section {
    height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc; /* Add a border */
    padding: 10px; /* Add padding to create some space around the content */
    background-color: #2a2a3b; /* Background color for the playlist section */
    border-radius: 8px; /* Add border radius to round the corners */
    box-shadow: 0 5px 13px 5px rgba(0, 0, 0, 0.2); /* Add a box shadow */
	display: flex;
    align-items: center;
}

/*Playlist Styles*/

#playlist {
    list-style: none;
	flex: 1; /* This will make the playlist take available space */
    padding-left: 200px; /* Add some padding to separate from the audio player */
    max-width: calc(100% - 80px); /* Adjust the max-width to leave space for the audio player */
    overflow: hidden; /* Hide overflow to prevent horizontal scrollbar */
}

#playlist li {
    padding: 10px;
    list-style: none;
    color: #ffffff;
	width: 100%;
    background-color: #333344; /* Background color for each list item */
}

#playlist li:nth-child(even) {
    background: #2a2a3b; /* Alternating background color */
}

#playlist li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
	transition: color .5s ease;
}

#playlist li a:hover {
    color: #3498db; /* Color on hover */
}